<!--<h1>Post List</h1>-->

<%= render 'shared/title', title: "Post List Haha"%>

<% @posts.each do |post| %>
<div>
	<h3><%= post.title %></h3>
	<p><%= post.content %></p>
	<span>
		<%= link_to "show post", post_path(post) %>
	</span>
</div>
<% end %>

<button class=tn btn-primary">TEST</button>